<div class="container">
  <div class="row">
    <div class="col">
      <!-- Guides Section -->
      <h1 class="h3 mb-4 text-center" i18n>Guides</h1>
      <div class="mb-5">
        <div class="learn-card mb-3">
          <h2 class="h5 mb-1 mt-0">Boringly Getting Rich</h2>
          <div class="mb-1">
            The <i>Boringly Getting Rich</i> guide supports you to get started
            with investing. It introduces a strategy utilizing a broadly
            diversified, low-cost portfolio excluding the risks of individual
            stocks.
          </div>
          <div>
            <a href="https://herget.me/investing-guide" target="_blank"
              >Boringly Getting Rich &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h2 class="h5 mb-1 mt-0">How do I get my finances in order?</h2>
          <div class="mb-1">
            Before you can think of long-term investing, you have to get your
            finances in order. Learn how you can reach your financial goals
            easier and faster in this guide.
          </div>
          <div>
            <a href="../en/blog/2022/07/how-do-i-get-my-finances-in-order"
              >How do I get my finances in order? &rarr;</a
            >
          </div>
        </div>
      </div>

      <!-- Glossary Section -->
      <h2 class="h3 mb-4 text-center" i18n>Glossary</h2>
      <div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Buy and Hold</h3>
          <div class="mb-1">
            Buy and hold is a passive investment strategy where you buy assets
            and hold them for a long period regardless of fluctuations in the
            market.
          </div>
          <div>
            <a
              href="https://www.investopedia.com/terms/b/buyandhold.asp"
              target="_blank"
              >Buy and Hold &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Deflation</h3>
          <div class="mb-1">
            Deflation is a decrease of the general price level for goods and
            services in an economy over a period of time.
          </div>
          <div>
            <a
              href="https://www.investopedia.com/terms/d/deflation.asp"
              target="_blank"
              >Deflation &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Dollar-Cost Averaging (DCA)</h3>
          <div class="mb-1">
            Dollar-cost averaging is an investment strategy where you split the
            total amount to be invested across periodic purchases of a target
            asset to reduce the impact of volatility on the overall purchase.
          </div>
          <div>
            <a
              href="https://www.investopedia.com/terms/d/dollarcostaveraging.asp"
              target="_blank"
              >Dollar-Cost Averaging &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Financial Independence</h3>
          <div class="mb-1">
            Financial independence is the status of having enough income, for
            example with a passive income like dividends, to cover your living
            expenses for the rest of your life.
          </div>
          <div>
            <a
              href="https://en.wikipedia.org/wiki/Financial_independence"
              target="_blank"
              >Financial Independence &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">FIRE</h3>
          <div class="mb-1">
            FIRE is a movement that promotes saving and investing to achieve
            financial independence and early retirement.
          </div>
          <div>
            <a href="../en/blog/2023/07/exploring-the-path-to-fire"
              >FIRE &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Inflation</h3>
          <div class="mb-1">
            Inflation is an increase of the general price level for goods and
            services in an economy over a period of time.
          </div>
          <div>
            <a
              href="https://www.investopedia.com/terms/i/inflation.asp"
              target="_blank"
              >Inflation &rarr;</a
            >
          </div>
        </div>
        @if (hasPermissionForSubscription) {
          <div class="learn-card mb-3">
            <h3 class="h5 mb-1 mt-0">Personal Finance Tools</h3>
            <div class="mb-1">
              Personal finance tools are software applications that help manage
              your money, track expenses, set budgets, monitor investments, and
              make informed financial decisions.
            </div>
            <div>
              <a [routerLink]="routerLinkResourcesPersonalFinanceTools"
                >Personal Finance Tools &rarr;</a
              >
            </div>
          </div>
        }
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Stagflation</h3>
          <div class="mb-1">
            Stagflation describes a situation in which there is a stagnant
            economy with high unemployment and high inflation.
          </div>
          <div>
            <a
              href="https://www.investopedia.com/terms/s/stagflation.asp"
              target="_blank"
              >Stagflation &rarr;</a
            >
          </div>
        </div>
        <div class="learn-card mb-3">
          <h3 class="h5 mb-1 mt-0">Stealth Wealth</h3>
          <div class="mb-1">
            Stealth wealth is a lifestyle choice where you don't openly show off
            your wealth, but instead live quietly to maintain privacy and
            security.
          </div>
          <div>
            <a
              href="https://en.wikipedia.org/wiki/Stealth_wealth"
              target="_blank"
              >Stealth Wealth &rarr;</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
