<div class="portfolio-dropdown-container">
  <mat-form-field appearance="outline" class="portfolio-nav-select">
    <mat-label>View</mat-label>
    <mat-select
      [value]="activeTabRouterLink"
      (selectionChange)="onTabChange($event.value)"
    >
      @for (tab of tabs; track tab) {
        @if (tab.showCondition !== false) {
          <mat-option [value]="toPath(tab.routerLink)">
            {{ tab.label }}
          </mat-option>
        }
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="portfolio-content flex-grow-1 overflow-auto">
  <router-outlet />
</div>
